if ( '<%= @comment.body %>'.length != 0) {
    $("#comments<%= @comment.step_id %>").append(`
    <blockquote class="blockquote" id="blockquote<%= @comment.id %>">
    <p class="mb-0">
    <%= @comment.body %>
    <% if current_user.id == @comment.user_id %>
    <%= link_to fa_icon('trash'), step_comment_path( id: @comment.step_id, comment_id: @comment.id), method: :delete, remote: true  %>
    <% end %>
    </p>
    <footer class="blockquote-footer"><%= @comment.user_id %> <cite title="Source Title"><small><%= I18n.localize(@comment.created_at, format: :long) unless @comment.created_at == nil   %></small></cite></footer>
    </blockquote>
`);
    $("#comments<%= @comment.step_id %>").parent().find('textarea').first().val("");
    $("#comments<%= @comment.step_id %>").parent().find('textarea').first().css('border-color', 'rgba(0, 0, 0, 0.15)');
}
else
{
    $("#comments<%= @comment.step_id %>").parent().find('textarea').first().css('border-color', 'red');
}