<%= cloudinary_js_config %>
<%= form_for(instruction) do |f| %>
  <% if instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:</h2>

      <ul>
      <% instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label t(:title), class: "col-2 col-form-label" %>
    <div class="col-8">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>
    <div class="form-group row">
      <%= f.label t(:category), class: "col-2 col-form-label" %>
      <div class="col-8">
        <%= select_tag(:category_id, options_for_select(@categories), class: "form-control") %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :youtube_url, class: "col-2 col-form-label" %>
      <div class="col-8">
        <%= f.text_field :youtube_url, class: "form-control" %>
      </div>
    </div>


      <%= f.text_area :body, required: true %>

    <div class="row">
      <div id="sortable">



        <!-- Modal -->

      <%= f.nested_fields_for  :steps do |ff| %>
            <%= ff.hidden_field :index, value: index(ff.object_name), data: {order: "true" }  %>
            <div class="ui-state-default row step" data-toggle="modal" data-target="#step<%= index(ff.object_name) %>">
            <div class='col-2'>
            <h2><i class='fa fa-arrows-alt'></i><number><%= index(ff.object_name) %></number><%= t(:step) %></h2></div>
        <div class='col-10 title'>
        <p><%= index(ff.object_name) %> <%=  ff.remove_nested_fields_link do %><i class='fa fa-trash' aria-hidden='true'></i><% end %></p></div></div>






            <div class="modal fade" id="step<%= index(ff.object_name) %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-large" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="field">
                      <h5>Edit step</h5>
                      <div class="form-group row">
                        <%= ff.label t(:title), class: "col-2 col-form-label"  %>
                        <div class="col-8">
                          <%= ff.text_field :title, class: "form-control", required: true  %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= ff.label t(:body), class: "col-2 col-form-label"  %>
                        <div class="col-8">
                        <%= ff.text_area :body, required: true, width: "100%" %>
                        </div>
                      </div>


                      <div class="form_line">
                        <% if image_publick_id(ff.text_field(:image)) != "" %>
                            <div id="prev<%= index(ff.object_name) %>" class="prev">
                              <%= cl_image_tag( image_publick_id(ff.text_field(:image)), :crop => :fill, :quality=>"auto:low", class: "img-thumbnail") %>
                              <%= link_to fa_icon('trash'), destroyimage_instruction_path(image_publick_id(ff.text_field(:image)), index: index(ff.object_name), id: instruction.id), remote: true %>
                            </div>
                        <% end %>
                            <div  id="direct_upload" style="<%= display(image_publick_id(ff.text_field(:image))) %>"  class="brd" ondrop="this.style.display='none'" ondragover="this.style.backgroundColor='#14998D'" ondragleave="this.style.backgroundColor='#fff'">
                              <div class="form_controls">
                                <%= ff.cl_image_upload(:image, :return_delete_token=>true) %>
                                <%= ff.hidden_field :image, class: "hidden_field" %>
                              </div>
                            </div>


                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="form_controls">
                          <div class="preview"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      <% end %>
      </div>

    </div>
    <%= f.add_nested_fields_link :steps do %>

    <div class="brd">
      <%= fa_icon "plus" %>
      <%= t(:add_step) %>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>