<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-large" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="owl-carousel owl-theme">
          <% steps.each_with_index do |step, index| %>
              <div class="item">
                <div class="row">
                  <div class="col-8">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= "#{index+1} #{t(:step).upcase}. #{step.title.capitalize}" %></h5>

                    </div>


                    <p><%= raw(step.body) %></p>
                    <p class="text-center"> <%= cl_image_tag( step.image, :crop => :fill, class: 'img-owl', :quality=>"auto:low") %></p>

                  </div>
                  <div class="col-4">
                    <div class="modal-header">

                      <h5><%= t :comments %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    <div id="comments<%= step.id %>" class="comments">
                    <% step.comments.each do |comment| %>


                        <blockquote class="blockquote" id="blockquote<%= comment.id %>">
                          <p class="mb-0">
                            <%= comment.body %>
                            <% if can? :destroy, comment %>
                              <%= link_to fa_icon('trash'), step_comment_path(step_id: step.id, comment_id: comment.id), method: :delete, remote: true  %>
                            <% end %>
                          </p>
                          <footer class="blockquote-footer"><%= comment.user_id %> <cite title="Source Title"><small><%= I18n.localize(comment.created_at, format: :long) %></small></cite></footer>
                        </blockquote>
                    <% end %>
                    </div>
                    <% if user_signed_in? %>
                    <%= render 'comments/form', step: step %>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

