if ($('#unlike').length) {
    $('like').html(` <%= link_to fa_icon("thumbs-o-up"), like_instruction_path(@instruction), method: :put, remote: true %> `)
}
$('dislike').html(`<%= link_to fa_icon("thumbs-down"), unvote_instruction_path(@instruction), method: :put, remote: true, id: "unlike" %>`);
$('rate').html(` <%= @instruction.cached_votes_score %> `);