<p id="notice"><%= notice %></p>

<h1><%= t(:instructions) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:title) %></th>
      <th><%= t(:body) %></th>
      <th><%= t(:category) %></th>
      <th><%= t(:user) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructions.each do |instruction| %>
      <tr>
        <td><%= instruction.title %></td>
        <td><%= raw(instruction.body) %></td>
        <td><%= instruction.category.name %></td>
        <td><%= instruction.user_id %></td>
        <td><%= link_to t(:show), instruction, class: "btn btn-outline-success" %></td>
        <% if can? :edit, instruction %>
        <td><%= link_to t(:edit), edit_instruction_path(instruction), class: "btn btn-outline-warning" %></td>
        <% end %>
        <% if can? :destroy, instruction %>
        <td><%= link_to t(:destroy), instruction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Instruction.new  %>
<%= link_to t(:new_instructions), new_instruction_path, class: "btn btn-outline-primary" %>
<% end %>