<h1>New Instruction</h1>
<div class="container">
<%= render 'form', instruction: @instruction %>





<%= link_to 'Back', instructions_path %>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>