<h1><%= @instruction.title %></h1>


<p>
  <strong><%= t(:category) %>:</strong>
  <%= @instruction.category.name %>,
  <strong><%= t(:user) %>:</strong>
  <%= @instruction.user_id %>
</p>

<div class="lead">
  <%= raw(@instruction.body) %>
</div>

<% if @instruction.youtube_url %>
    <p>
    <div class="row">
      <div class="col-5">
        <%= raw qr(@instruction.youtube_url).as_svg(offset: 0, color: '000',
                                                    shape_rendering: 'crispEdges',
                                                    module_size: 4) %>
      </div>
      <div class="col-3">
        <h4>YouTube</h4>
      </div>
    </div>
    </p>
<% end %>

<p class="lead">Как всё-таки это сделать?</p>

<div class="container">
  <% @instruction.steps.each_with_index do |step, index| %>

          <div class="row step">
            <div class="col-2">
              <h2><%= "#{index+1} #{t(:step).upcase}" %></h2>
            </div>
            <div class="col-10 title">
              <p> <%= step.title.upcase %></p>
            </div>
          </div>
          <p>
            <%= raw(step.body) %>
          </p>
          <%= image_tag cloudinary_url(step.image), width: "100%" %>


  <% end %>
</div>
