<h1 class="display-4"><%= @instruction.title %></h1>


<p>
  <strong><%= t(:category) %>:</strong>
  <%= @instruction.category.name %>,
  <strong><%= t(:user) %>:</strong>
  <%= @instruction.user_id %>,
  <strong>Pdf:</strong>
  <%= link_to fa_icon('file-pdf-o'), instruction_path(@instruction, :format => :pdf)  %>,


  <strong><%= t(:rating) %>: </strong>
  <% if user_signed_in? %>
  <dislike>

    <% if @like == false %>
        <%= link_to fa_icon("thumbs-down"), unvote_instruction_path(@instruction), method: :put, remote: true, id: "unlike" %>
    <% else %>
        <%= link_to fa_icon("thumbs-o-down"), dislike_instruction_path(@instruction), method: :put, remote: true %>
    <% end %>
  </dislike>
  <% end %>
  <rate><%= @instruction.cached_votes_score %></rate>
  <% if user_signed_in? %>
  <like>
  <% if @like == true %>
      <%= link_to fa_icon("thumbs-up"), unvote_instruction_path(@instruction), method: :put, remote: true, id: "unlike" %>
  <% else %>
      <%= link_to fa_icon("thumbs-o-up"), like_instruction_path(@instruction), method: :put, remote: true %>
  <% end %>
  </like>
  <% end %>

</p>

<div class="lead">
  <%= raw(@instruction.body) %>
</div>

<% if @instruction.youtube_url %>
<p>
  <div class="row">
    <div class="col-9">
      <%= youtube_embded(@instruction.youtube_url) if @instruction.youtube_url %>
    </div>
    <div class="col-3">
      <%= raw qr(@instruction.youtube_url).as_svg(offset: 0, color: '000',
          shape_rendering: 'crispEdges',
          module_size: 4) %>
    </div>
  </div>
</p>
<% end %>

<p class="lead">Как всё-таки это сделать?</p>


<div class="container">
  <% @instruction.steps.each_with_index do |step, index| %>

  <div class="row step" style="background-image: url(<%=cloudinary_url(step.image) %>)" onclick="goStep(<%= index %>)">
    <div class="col-2">
    <h2><%= "#{index+1} #{t(:step).upcase}" %></h2>
    </div>
    <div class="col-10 title">
    <p> <%= step.title.upcase %></p>
    </div>

  </div>


  <% end %>
</div>
<%= render 'modal', steps: @instruction.steps %>
<% if can? :update, @instruction %>
<%= link_to 'Edit', edit_instruction_path(@instruction) %>
<% end %>
<%= link_to 'Back', instructions_path %>
