if ($("#unlike").parent()[0].tagName == 'LIKE'){
    $('like').html(` <%= link_to fa_icon("thumbs-o-up"), like_instruction_path(@instruction), method: :put, remote: true %> `)
    $('rate').html(` <%= @instruction.cached_votes_score %> `)
}
else{
    $('dislike').html(` <%= link_to fa_icon("thumbs-o-down"), dislike_instruction_path(@instruction), method: :put, remote: true %> `)
    $('rate').html(` <%= @instruction.cached_votes_score %> `)
}