if ($('#unlike').length) {
    $('dislike').html(` <%= link_to fa_icon("thumbs-o-down"), dislike_instruction_path(@instruction), method: :put, remote: true %> `)
}
$('like').html(`<%= link_to fa_icon("thumbs-up"), unvote_instruction_path(@instruction), method: :put, remote: true, id: "unlike" %>`);
$('rate').html(` <%= @instruction.cached_votes_score %> `);