<% provide(:title, "Home") %>

<h1>Top 10 <small><%= t(:instructions) %></small></h1>

<% @instructions.each do |instruction| %>
      <div>
        <p><%= t(:title) %></p>
        <%= link_to  instruction.title, instruction %>
        <p><%= t(:body) %></p>
      <%= raw(instruction.body) %>
        <p><%= t(:category) %></p>
      <%= instruction.category.name %>
        <p><%= t(:user) %></p>
        <%= instruction.user.name %>

      </div>

<% end %>