/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 *= require owl.carousel
 *= require owl.theme
 */
@import "bootstrap";
@import "font-awesome";

.img-rounded{
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}
.nav-blink{
  padding: 0;
}
.alert-notice{
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
.margin-15{
  margin: 70px 0px 15px 0px;
}
.link-gr{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
}
.lang{
  font-size: 0.8em;
  margin-top: 2px;

}
.nav-mg{
  margin-left: 170px;
  margin-right: 2vw;
}
.body-mt{
  margin-top: 65px;
}
/*
.modal-open .container-fluid, .modal-open  .container {
  -webkit-filter: blur(5px) grayscale(90%);
  filter: blur(5px) grayscale(90%);
}*/

.logo{
  position: absolute;
  width: 197px;
  left: 3px;
  top: -16px;
  img{
    width: 186px;
  }
}
::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}
::-webkit-scrollbar-track{
  border-width:0;
}
::-webkit-scrollbar-track:hover{
  border-left: solid 1px #aaa;
  background-color: #eee;
}