// Place all the styles related to the instructions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.step{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px;
  h2{
    color: #ffffff;
    background-color: rgba(255, 153, 0, 0.76);
    font-size: 3rem;
    height: 5rem;
    width: 13rem;
    line-height: 79px;
    text-align: center;
    margin: 0;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
  }
  .title{
    margin-left: -25px;
  }
  div{
    padding: 0;
  }
  p{
    background-color: rgba(22, 59, 162, 0.59);
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
    opacity: 0;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 22px;
    height: 100%;
    margin-right: -25px;
    color: #ebebe2;




  }
  &:hover{
    p{
      -webkit-transition: opacity 0.5s; /* Safari */
      transition: opacity 0.5s;
      opacity: 1;
    }
    h2{

      width: 10rem;
      -webkit-transition: width 0.5s; /* Safari */
      transition: width 0.5s;
    }
  }
}
.unlink{
  &:hover{
    text-decoration: none;
  }
}
#sortable { list-style-type: none; margin: 0; padding: 0px 15px 0 15px; width: 100%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.brd {
  border: 4px dashed #ff8b03;
  padding: 10px;
  height: 82px;
  text-align: center;
  font-size: 2rem;
  font-stretch: normal;
  color: #93775b;
  -webkit-transition: background-color 0.2s; /* Safari */
  transition: background-color 0.2s;
  &:hover{
    background-color: #eff0ce;
    -webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
  }
}
.preview{
  text-align: center;
  font-size: 56px;
  i{
    margin-left: 20px;
  }
  img{
    max-height: 300px;
  }
}
#direct_upload{
  height: 200px;
}
.prev{
  text-align: center;

  img{
    max-height: 300px;
  }
  i{
    margin-left: 20px;
    font-size: 56px;
  }
}
.align-center{
  text-align: center;
}

.modal-large {
  max-width: 80vw !important;
}
.comments{
  max-height: 70vh;
  overflow-x: overlay;
  p{
    font-size: small;
  }
}
.form_control{
  margin-bottom: 10px;
}

