<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to image_tag("logo.png"), root_path, class: 'navbar-brand logo' %>
  <div class="collapse navbar-collapse nav-mg" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= li_link_to t(:home), root_path, class: 'nav-link', 'li-class' => 'nav-item' %>
      <%= li_link_to t(:users), users_path, class: 'nav-link', 'li-class' => 'nav-item' %>
      <%= li_link_to t(:categories), categories_path, class: 'nav-link', 'li-class' => 'nav-item' %>
      <%= li_link_to t(:instructions), instructions_path, class: 'nav-link', 'li-class' => 'nav-item' %>
    </ul>
    <ul class="navbar-nav mr-right">
    <% if user_signed_in?%>
          <li class="nav-item dropdown">
            <%= link_to image_tag(current_user.image, alt: current_user.name, size: "40x40", class: 'img-rounded' )+
                            current_user.name, '#', class: 'nav-blink nav-link dropdown-toggle',
                        id: 'navbarDropdownMenuLink', 'data-toggle' => "dropdown",
                        'aria-haspopup' => "true", 'aria-expanded' => "false"%>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to t(:logout), destroy_user_session_path, class: 'dropdown-item'  %>
            </div>
          </li>
    <% else %>
          <span class="navbar-text"><%= t :loginwith %></span>
          <%= link_to fa_icon('facebook-official'), localized_omniauth_path(:facebook, :origin=>request.path), class: 'nav-link'  %>
          <%= link_to fa_icon('twitter'), localized_omniauth_path(:twitter, :origin=>request.path), class: 'nav-link'  %>
          <%= link_to fa_icon('vk'), localized_omniauth_path(:vkontakte, :origin=>request.path), class: 'nav-link'  %>
    <% end %>
      <% I18n.available_locales.each do |locale| %>
          <li class="nav-item lang">
            <%= link_to_unless_current t("languages.#{locale.to_s}"), {locale: locale}, class: 'link-gr nav-link'%>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<% flash.each do |message_type, message| %>
  <div class="container">
    <div class="alert alert-<%= message_type %> alert-dismissible fade show margin-15" role="alert">
      <%= message %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    I18n.locale = '<%= I18n.locale %>';
</script>
