<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
<div id="header">
  <%= wicked_pdf_image_tag 'logo-pdf.png'%>
  <%= link_to t(:home), root_url %>
</div>
<div id="content">
  <%= yield %>
</div>

</body>
</html>